@page "/albums/{Id:int}"
@using Sellorio.AudioOracle.Library.Results.Messages
@using Sellorio.AudioOracle.Models.Content
@using Sellorio.AudioOracle.Models.Metadata
@using Sellorio.AudioOracle.ServiceInterfaces.Metadata
@using Sellorio.AudioOracle.Web.Client.Library.Providers.DisableState
@using System.IO
@inject NavigationManager NavigationManager
@inject IAlbumService AlbumService
@inject ITrackService TrackService
@inject IResultPopupService ResultPopupService

<PageLoadWrapper Result="albumResult">
	<AoBoxLoader Loading="isLoading">
		<AoColumns>
			<AoColumn Weight="1">
				<AoPanel Title="Details">
					<div class="album-art">
						@if (albumResult!.Value.AlbumArt != null)
						{
							<img alt="Album Art" src="@("/f/" + albumResult!.Value.AlbumArt.UrlId)">
						}
						else
						{
							<AoImagePlaceholder />
						}

						<div class="actions">
							<AoButton Icon="albumResult!.Value.AlbumArt == null ? Icon.Add : Icon.Edit" NoBorder OnClick="OpenAlbumArtFileSelectAsync"/>
							<AoFileInput @ref="fileInput" Hidden ValueChanged="UpdateAlbumArtAsync" />
						</div>
					</div>

					<AoTextField Label="Title" Value="@albumResult.Value.Title" Disabled />
					<AoTextField Label="Artists" Value="@string.Join("; ", albumResult.Value.Artists.Select(x => x.Name))" Disabled />

					@if (albumResult.Value.ReleaseDate != null)
					{
						<AoTextField Label="Released" Value="@albumResult.Value.ReleaseDate.Value.ToShortDateString()" Disabled />
					}
					else if (albumResult.Value.ReleaseYear != null)
					{
						<AoTextField Label="Released" Value="@albumResult.Value.ReleaseYear.ToString()" Disabled />
					}

					<AoTextField Label="Track Count" Value="@albumResult.Value.TrackCount.ToString()" Disabled />
				</AoPanel>
				<AoPanel Title="Actions">
					<AoResultMessages Result="actionResult" />

					<AoButton Red Label="Delete" OnClick="OpenDeleteDialogAsync" />

					@if (albumResult!.Value.Tracks.Any(x => x.Status is TrackStatus.MetadataRetrievalFailed or TrackStatus.DownloadFailed))
					{
						<AoButton Primary Label="Retry All" OnClick="RetryAllAsync" />
					}
				</AoPanel>
			</AoColumn>
			<AoColumn Weight="1">
				<AoPanel Title="Tracks">
					<AoGridList>
						<thead>
							<tr>
								<th>#</th>
								<th>Title</th>
								<th>Alt. Title</th>
								<th>Duration</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							@foreach (var track in albumResult!.Value.Tracks.OrderBy(x => x.TrackNumber))
							{
								<TrackDetailsRow @key="track" Track="track" />
							}
						</tbody>
					</AoGridList>
				</AoPanel>
			</AoColumn>
		</AoColumns>
	</AoBoxLoader>
</PageLoadWrapper>

@code {
	bool isLoading = true;
	ValueResult<Album>? albumResult;
	IResult? actionResult;
	AoFileInput? fileInput;

	[CascadingParameter]
	public required IDialogProvider DialogProvider { get; set; }

	[Parameter]
	public int Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		isLoading = true;
		albumResult = await AlbumService.GetAlbumAsync(Id, AlbumFields.Artists | AlbumFields.Tracks);
		isLoading = false;
	}

	private async Task RetryAllAsync()
	{
		actionResult = null;
		isLoading = true;
		actionResult =
			await TrackService.RetryAllTracksAsync(Id)
				.WithSuccessMessage("Successfully started retrying tracks.");
		isLoading = false;
	}

	private async Task OpenDeleteDialogAsync()
	{
		var deleteResult = await DialogProvider.ShowDialogAsync(() => new DeleteAlbumDialog { AlbumId = Id });

		if (deleteResult.WasSuccess)
		{
			NavigationManager.NavigateTo("/albums");
		}
	}

	async Task OpenAlbumArtFileSelectAsync()
	{
		await fileInput!.OpenAsync();
	}

	async Task UpdateAlbumArtAsync(IBrowserFile albumArtFile)
	{
		if (albumArtFile == null)
		{
			return;
		}

		var fileType = Path.GetExtension(albumArtFile!.Name).ToLower() switch
		{
			".png" => FileType.ImagePng,
			".jpg" or ".jpeg" => FileType.ImageJpeg,
			_ => FileType.Unspecified
		};

		if (fileType == FileType.Unspecified)
		{
			await fileInput!.ClearAsync();
			await ResultPopupService.ShowResultAsPopupAsync((Result)ResultMessage.Error("File must be png or jpg."), null);
			return;
		}

		ValueResult<Album> result;

		using (var stream = albumArtFile.OpenReadStream())
		{
			result = await AlbumService.UpdateAlbumArtAsync(Id, fileType, stream);
		}

		await fileInput!.ClearAsync();

		if (result.WasSuccess)
		{
			albumResult!.Value.AlbumArt = result.Value.AlbumArt;
		}
		else
		{
			await ResultPopupService.ShowResultAsPopupAsync(result, null);
		}
	}
}
