@page "/albums/add"
@using Sellorio.AudioOracle.Models.Metadata
@using Sellorio.AudioOracle.Models.Search
@using Sellorio.AudioOracle.ServiceInterfaces.Providers
@using Sellorio.AudioOracle.ServiceInterfaces.Search
@using System.Web
@using Sellorio.AudioOracle.Web.Client.Library.Providers.DisableState
@using Sellorio.AudioOracle.Web.Client.Services
@inject IProviderCatalogService ProviderCatalogService
@inject ISearchService SearchService
@inject IResultPopupService ResultPopupService
@inject ILocalStorageService LocalStorageService
@inject NavigationManager NavigationManager

<AoPanel>
	<AoForm OnValidSubmit="SearchAsync" Disabled="isLoading">
		<AoTextField Label="Search" @bind-Value="searchText" Required MaxLength="200" />
		<div class="mt-4">
			@if (searchProviders != null)
			{
				@if (searchProviders.Count == 0)
				{
					<AoError Message="There are no search providers available." />
				}

				@foreach (var p in searchProviders)
				{
					var provider = p;
					<AoCheckbox Label="@provider.Name" Value="provider.IsSelected" ValueChanged="x => ProviderSelectedChanged(provider, x)" />
				}
			}
		</div>
	</AoForm>
</AoPanel>
<AoSpace />
<AoBoxLoader Loading="isLoading">
	@if (searchResult == null)
	{
		<AoInformation Message="Use the search above to search for an album/track using the available providers." />
	}
	else if (searchResult.WasSuccess)
	{
		if (searchResult.Value!.Count == 0)
		{
			<AoInformation Message="No results were found for the given search." />
		}
		else
		{
			<AoGridList ClickableRows>
				<thead>
					<tr>
						<th>Art</th>
						<th>Title</th>
						<th>Album</th>
						<th>Artists</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var i in searchResult.Value)
					{
						var item = i;

						<tr @onclick="() => SelectSearchResultAsync(item)">
							<td>
								@if (item.AlbumArtUrl != null)
								{
									<img src="@($"/pf?url={HttpUtility.UrlEncode(item.AlbumArtUrl)}")">
								}
								else
								{
									<AoImagePlaceholder />
								}
							</td>
							<td>@item.Title</td>
							<td>@item.AlbumTitle</td>
							<td>
								@if (item.ArtistNames != null)
								{
									@string.Join(", ", item.ArtistNames)
								}
							</td>
						</tr>
					}
				</tbody>
			</AoGridList>
		}
	}
</AoBoxLoader>

@code {
	const string SearchProvidersLocalStorageKey = "SearchProviders";

	IList<AvailableSearchProvider>? searchProviders;
	string? searchText;
	ValueResult<IList<SearchResult>>? searchResult;
	bool isLoading;

	[CascadingParameter]
	public required IDialogProvider DialogProvider { get; set; }

	protected override async Task OnInitializedAsync()
	{
		isLoading = true;

		var providerInfoResult = await ProviderCatalogService.GetProvidersInfoAsync();

		if (!providerInfoResult.WasSuccess)
		{
			await ResultPopupService.ShowResultAsPopupAsync(providerInfoResult, null);
			return;
		}

		var selectedProviders = (await LocalStorageService.GetItemAsync(SearchProvidersLocalStorageKey))?.Split(',') ?? [];

		searchProviders =
			providerInfoResult.Value
				.Where(x => x.IsMetadataSource)
				.Select(x => new AvailableSearchProvider
				{
					Name = x.Name,
					IsSelected = selectedProviders.Length == 0 || selectedProviders.Contains(x.Name)
				})
				.ToArray();

		isLoading = false;
	}

	async Task SearchAsync()
	{
		isLoading = true;

		try
		{
			var includedProviders =
				searchProviders!.All(x => x.IsSelected)
					? null
					: searchProviders!.Where(x => x.IsSelected).Select(x => x.Name).ToArray();

			searchResult = await SearchService.SearchAsync(new() { SearchText = searchText!, IncludedProviders = includedProviders });
		}
		finally
		{
			isLoading = false;
		}
	}

	async Task SelectSearchResultAsync(SearchResult item)
	{
		var result = await DialogProvider.ShowDialogAsync(() => new AddAlbumDialog { SearchResult = item });

		if (result.WasSuccess)
		{
			NavigationManager.NavigateTo($"/albums/{result.Value.Id}");
		}
	}

	async Task ProviderSelectedChanged(AvailableSearchProvider provider, bool newValue)
	{
		provider.IsSelected = newValue;

		var includedProviders =
			searchProviders!.All(x => x.IsSelected)
				? null
				: string.Join(',', searchProviders!.Where(x => x.IsSelected).Select(x => x.Name));

		if (includedProviders == null)
		{
			await LocalStorageService.RemoveItemAsync(SearchProvidersLocalStorageKey);
		}
		else
		{
			await LocalStorageService.SetItemAsync(SearchProvidersLocalStorageKey, includedProviders);
		}
	}

	class AvailableSearchProvider
	{
		public required string Name { get; set; }
		public bool IsSelected { get; set; }
	}
}
